
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 <p>
   <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  
  <%= @post.text %>
</p>
<p>
by <%= @post.author %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
 
  <p>
    <strong>Email:</strong>
    <%= comment.email %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path( @post ) %>
<%= link_to 'Back', posts_path, :class=> 'btn btn-success' %>